          <div class="icon-bar">
            <!--<a href=<%= fgUrl+'/post/' %>><i class="fa fa-paragraph"></i></a>-->
            <!--<a href=<%= fgUrl+'/gallery' %>><i class="glyphicon glyphicon-picture"></i></a>-->
            <a href=<%= fgUrl+'/mail/ml/' %>><i class="fa fa-envelope"></i></a>
            <a href=<%= fgUrl+'/mail/mg/' %>><i class="fa fa-group"></i></a>
            <a href=<%= fgUrl+'/chat/' %>><i class="glyphicon glyphicon-comment"></i></a>
            <a href=<%= fgUrl+'/setting/' %>><i class="fa fa-gear"></i></a>
            <!--<a href=<%= fgUrl+'/attachments' %>><i class="fa fa-file-archive-o"></i></a>-->
          </div>