          <div class="page-header">
            <h1 class="text-center">Mail Letters</h1>
          </div>
          
          <!--  Mail Editor -->
          <form id="putMail" class="form-horizontal clearfix col-sm-10 col-sm-offset-1">
            <!-- tool bar -->
            <div class="form-group">
              <!-- toggle switch -->
              <div class="btn-group" role="group" aria-label="...">
                <% if(editable) { %>
                  <div class="onoffswitch">
                    <input type="checkbox" name="autoSend" class="onoffswitch-checkbox" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch">
                      <!-- text are in css content -->
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div><!-- / toggle switch -->
                <% } %>
              </div>
              <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back to List</button>
                <% if(editable) { %>
                  <button id="putMail" type="submit" class="btn btn-primary">Send / Save</button>
                <% } %>
              </div>
            </div>
            <div id="autoSendField" class="form-group hidden">
              <label for="datetimepicker" class="col-sm-1 control-label">Appoint<br>Time</label>
              <div class="col-sm-11">
                <input id="datetimepicker" name="reserveTime" class="form-control" type="text" placeholder="yyyy-mm-dd hh:mm" data-date-format="yyyy-mm-dd hh:ii" <%= (editable) ? '' : 'disabled'; %>>
              </div>
            </div>
            <div class="form-group">
              <label for="to" class="col-sm-1 control-label">To</label>
              <div class="col-sm-11 e-mg-group">
                <input type="text" class="form-control dropdown-toggle" aria-haspopup="true" aria-expanded="true" id="to" name="to" placeholder="Email / Mail Group" value="<%= mailContent.to || '' %>" <%= (editable) ? '' : 'disabled'; %>>
                <!-- email and mailgroup dropdown -->
                <%- include('email-group-menu') %>
              </div>
            </div>
            <div class="form-group">
              <label for="cc" class="col-sm-1 control-label">CC</label>
              <div class="col-sm-11 e-mg-group">
                <input type="text" class="form-control dropdown-toggle" id="cc" aria-haspopup="true" aria-expanded="true" name="cc" placeholder="Email / Mail Group" value="<%= mailContent.cc || '' %>" <%= (editable) ? '' : 'disabled'; %>>
                <!-- email and mailgroup dropdown -->
                <%- include('email-group-menu') %>
              </div>
            </div>
            <div class="form-group">
              <label for="bcc" class="col-sm-1 control-label">BCC</label>
              <div class="col-sm-11 e-mg-group">
                <input type="text" class="form-control dropdown-toggle" id="bcc" aria-haspopup="true" aria-expanded="true" name="bcc" placeholder="Email / Mail Group" value="<%= mailContent.bcc || '' %>" <%= (editable) ? '' : 'disabled'; %>>
                <!-- email and mailgroup dropdown -->
                <%- include('email-group-menu') %>
              </div>
            </div>
            <div class="form-group">
              <label for="subject" class="control-label col-sm-1">Subject</label>
              <div class="col-sm-11">
                <input class="form-control" type="text" name="subject" placeholder="Subject" maxlength="200" value="<%= mailContent.subject || '' %>" <%= (editable) ? '' : 'disabled'; %>>
              </div>
            </div>
            <div id="summernote" class="col-sm-10 col-sm-offset-2"></div>
            <input type="hidden" name="fgUrl" value=<%= fgUrl %>>
            <% if(lid){ %>
              <input type="hidden" name="lid" value=<%= lid %>>
            <% } %>
            <% if(editable && lid) { %>
            <div class="form-group text-center">
              <button id="deleteMail" type="button" class="btn btn-danger">Delete Mail</button>
            </div>
            <% } %>
            <input type="hidden" name="editable" value=<%= editable %>>
          </form>
          <!-- / Mail Editor -->
          <script src="/js/mailletter_page.js"></script>