          <div class="page-header">
            <h1 class="text-center">Mail Letters</h1>
          </div>
          <!-- tool bar -->
          <!--<ul class="nav nav-pills pull-left" role="tablist">
            <li role="presentation" class="active"><a href=<%= fgUrl+'/mail/ml/all' %>>All</a></li>
            <li role="presentation"><a href=<%= fgUrl+'/mail/ml/draft' %>>Draft</a></li>
          </ul>-->
          <ul class="nav nav-pills pull-right" role="tablist">
            <li role="presentation"><a href=<%= fgUrl+'/mail/ml/edit/' %>>New Mail</a></li>
          </ul>
          <!--
          <div class="btn-group pull-right" role="group" aria-label="write mail">
            <button type="button" class="btn btn-default">New Mail</button>
          </div>-->
          <!--  Mail List -->
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Time</th>
                <th>Topic</th>
                <th>Arthor</th>
                <th>Status</th>
                <th>Tags</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = list.length-1; i >= 0; --i){ %>
                <tr class="row-a-link mail-letter-list">
                  <td clas ="text-center"><%= i+1 %></td>
                  <% let ctime = new Date(list[i].createTime); %>
                  <td><%= ctime %></td>
                  <td><%= list[i].subject %></td>
                  <td><%= list[i].from %></td>
                  <td><%= list[i].status %></td>
                  <td>
                    <% if(list[i].tags.length > 0){ %>
                      <% list[i].tags.forEach((tag) => { %>
                        <span class="label label-info"><%= tag %></span>
                      <% }); %>
                    <% } %>
                  </td>
                  <input type="hidden" name="lid" value="<%= list[i]._id %>">
                  <input type="hidden" name="status" value="<%= list[i].status %>">
                </tr>
                
              <% } %>
            </tbody>
          </table><!-- / Mail List -->
          <!-- pagination -->
          <!--
          <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>--><!-- / pagination -->