<!DOCTYPE html>
<!--
  passed data:
  {mate_id, kind, children}
-->
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/tree.css">
  <title>new <%= kind %></title>
</head>
<body>
  <!-- navigator -->
  <%- include('../partials/navigator') %>

  <!-- main content -->
  <div class="container">
    <div class="row">
      <% if(kind === "mate"){ %>
        <form action="/tree/add_mate" method="post" class="form-horizontal col-xs-6 col-xs-offset-3">
          <% include ../partials/detail_input %>
          <input type="hidden" name="mate" value="<%= mate_id %>">
          <input type="hidden" name="children" value="<%= children %>">
          <div class="form-group text-center">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-block" onclick="window.history.back();">Back to Tree</button>
            </div>
            <div class="col-xs-6">
              <input type="submit" value="Add" class="btn btn-primary btn-block">
            </div>
          </div>
        </form>
      <% }else if(kind === "root"){ %>
        <form action="/tree/add_root" method="post" class="form-horizontal col-xs-6 col-xs-offset-3">
          <% include ../partials/detail_input %>
          <div class="form-group text-center">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-block" onclick="window.history.back();">Back to Tree</button>
            </div>
            <div class="col-xs-6">
              <input type="submit" value="Add" class="btn btn-primary btn-block">
            </div>
          </div>
        </form>
      <% }else{ %>
        <form action="/tree/add_child" method="post" class="form-horizontal col-xs-6 col-xs-offset-3">
          <% include ../partials/detail_input %>
          <input type="hidden" name="parents" value="<%= parent_id %>">
          <div class="form-group text-center">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-block" onclick="window.history.back();">Back to Tree</button>
            </div>
            <div class="col-xs-6">
              <input type="submit" value="Add" class="btn btn-primary btn-block">
            </div>
          </div>
        </form>
      <% } %>
    </div>
  </div>
  
  <!-- footer -->
  <%- include('../partials/footer') %>
  <!-- /container -->
  <%- include('../partials/mask/cover') %>
  <!-- global scripts -->
  <%- include('../partials/globalScripts') %>
</body>
</html>