<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Family Tree</title>
  </head>

  <body>
    <!-- navigator -->
    <%- include('../partials/navigator') %>
    <!-- header -->
    <%- include('../partials/header') %>

    <!-- main content -->
    <div class="container">
      <!-- introduction column -->
      <div class="row">
        <div class="col-md-4">
          <h2>Family Tree</h2>
          <p>You can draw your own familytree, and recongnize how your big family looks like.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mail Contact Manager</h2>
          <p>You can contact with each others with conviniece Mail Contact Manager. No need for remember lots of email.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Customize Chatbot</h2>
          <p>Customize Chatbot can let you set and train a chatbot which talks similar with your lovely ancestor. We use Line currently.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
      <!-- footer -->
      <%- include('../partials/footer') %>
    </div> <!-- /container -->
    <%- include('../partials/mask/cover') %>
    <!-- global scripts -->
    <%- include('../partials/globalScripts') %>
  </body>
</html>