<!DOCTYPE html>
<html>
<head>
  <!-- passed data: {item} -->
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/tree.css">
  <title>detail</title>
</head>
<body>
  <!-- navigator -->
  <%- include('../partials/navigator') %>

  <!-- main content -->
  <div id="node_detail" class="container">
    <h3>detail:</h3>
    <button type="button" id="edit_detail" class="btn btn-primary btn-sm margin_up_btn">edit</button>
    <% for(let prop in item){ %>
      <% if(prop === "_id"){ %>
        <input type="hidden" name="_id" value="<%= item[prop] %>"><br>
      <% }else{ %>
        <p><strong><%= prop %>: </strong><%= item[prop] %></p>
      <% } %>
    <% } %>
  </div>

  <div class="container">
    <h3>dialog:</h3>
    <button type="button" id="add_dialog" class="btn btn-primary btn-sm margin_up_btn">add</button>
    <div id="dialog_list">
      <% for(let ele of dialog_list){ %>
        <strong>pattern: </strong><input class="pattern" value="<%= ele.pattern %>" disabled>
        <strong>response: </strong><input class="response" value="<%= ele.response %>" disabled>
        <button type="button" class="btn btn-primary btn-sm">edit</button>
        <button type="button" class="btn btn-danger btn-sm">delete</button><br>
      <% } %>
    </div>
  </div>
  
  <!-- footer -->
  <%- include('../partials/footer') %>
  <!-- /container -->
  <%- include('../partials/mask/cover') %>
  <!-- global scripts -->
  <%- include('../partials/globalScripts') %>

  <script src="/js/detail_page.js"></script>
</body>
</html>