<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Family Tree</title>
  </head>

  <body>
    <!-- navigator -->
    <%- include('../partials/navigator') %>

    <!-- main content -->
    <div class="container  col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="page-header">
          <h1 class="text-center">Setting</h1>
        </div>
      </div>
      <!-- Inport All Data -->
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Import Tree Data</h2>
            </div>
            <div class="panel-body">
              <form id="ImportForm" class="form-inline">
                <p class="help-block bg-danger text-center">This operation will <b>OVERWRITE</b> all current data.</p>
                <div class="form-group center-block">
                  <label for="ImportTreeFile">Upload .txt File</label>
                  <input type="file" id="ImportTreeFile">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Import</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Export All Data -->
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Export Tree Data</h2>
            </div>
            <div class="panel-body">
              <form id="ExportForm" class="form-inline" method="post" action="<%= '/transport/export' %>">
                <p class="help-block text-center">This operation will export all current data into a tree file.</p>
                <button type="submit" class="btn btn-block btn-primary">Export</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- footer -->
      <%- include('../partials/footer') %>
    </div> <!-- /container -->
    <%- include('../partials/mask/cover') %>
    <!-- global scripts -->
    <%- include('../partials/globalScripts') %>
    <script src="/js/setting_page.js"></script>"
  </body>
</html>