<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/tree.css">
  <title>tree</title>
</head>
<body>
  <!-- navigator -->
  <%- include('../partials/navigator') %>

  <!-- main content -->
  <div class="node_container">
    <svg class="path_container" xmlns="http://www.w3.org/2000/svg"></svg>
    
    <!-- render tree according to objList -->
    
    <% if(usr && !objList.length){ %>
      <div class="tree_row">
        <div class="tree_node">
        <button class="dropbtn">empty</button>
          <div class="dropdown_content">
              <form action="/tree/add_person" method="post">
                <input type="hidden" name="kind" value="root">
                <button class="btn droplist_btn" type="submit">add person</button>
              </form>
          </div>
        </div>
      </div>
    <% } %>
    <% for(var i=0; i<objList.length; ++i){ %>
      <% var genNum = objList[i] %>
      <div class="tree_row">
        <% for(var j=0; j<genNum; ++j){ %>
          <% ++i; %>
          <% if(!objList[i].parents && j){ %>  <!-- mate nodes -->
            <% if(i>3 && j!==genNum-1 && objList[i-1].parents[0]!==objList[i+1].parents[0]){ %>   <!-- i>3: 2nd generation -->
              <div class="tree_node boundary">
                <% include ../partials/dropdown %>
              </div>
            <% }else{ %>
              <div class="tree_node">
                <% include ../partials/dropdown %>
              </div>
            <% } %>
          <% }else if(j===genNum-1 || i===1 || objList[i].mate){ %>
            <div class="tree_node">
              <% include ../partials/dropdown %>
            </div>
          <% }else if(objList[i].parents[0]!==objList[i+1].parents[0]){ %>
            <div class="tree_node boundary">
              <% include ../partials/dropdown %>
            </div>
          <% }else{ %>
            <div class="tree_node">
              <% include ../partials/dropdown %>
            </div>
          <% } %>
        <% } %>
      </div>
    <% } %>
  </div>

  <!-- footer -->
  <%- include('../partials/footer') %>
  <!-- /container -->
  <%- include('../partials/mask/cover') %>
  <!-- global scripts -->
  <%- include('../partials/globalScripts') %>
  
  <script src="js/path.js"></script>
</body>
</html>
